* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  sans-serif;
}
.loginForm {
  width: 500px;
  padding: 20px 10px;
  background: #fff;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.loginForm h1 {
  color: #353535;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.loginForm span {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}
.loginForm span input {
  width: 90%;
  font-size: 1rem;
  padding: 10px;
  outline: 1px solid #d8d8d8;
  transition: 0.3s ease;
  border: none;
}
.loginForm span input:hover {
  outline-color: #007c89;
}
.loginForm span input:focus {
  outline-color: #409eff;
}

.loginForm .btn {
  font-size: 1rem;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  width: 90%;
  cursor: pointer;
  transition: 0.3s ease;
  background: #007c89;
  margin: 20px 0 20px 0;
}
.loginForm .btn:hover {
  background: #005760;
}

.error small{
  width: 90%;
  color: red;
  text-align: left;
  display: block;
  margin: 2px auto;
}